<script lang="ts">
import { onMount } from "svelte";

let image: HTMLImageElement | undefined;
let imageInput: HTMLInputElement | undefined;

export let left: undefined | number;
export let top: undefined | number;

onMount(() => {
	function handleMouse(ev: MouseEvent) {
		if (ev.buttons) {
			left = ((ev.clientX - image.getBoundingClientRect().left) / image.clientWidth) * 100;
			top = ((ev.clientY - image.getBoundingClientRect().top) / image.clientHeight) * 100;

			left = Math.round(left * 100) / 100;
			top = Math.round(top * 100) / 100;
		}
	}
	image.addEventListener("mousedown", handleMouse);
	image.addEventListener("mousemove", handleMouse);
});

function handleFileInput() {
	image.src = URL.createObjectURL(imageInput.files[0]);
}
</script>

<main>
	<div class="canvas">
		<div class="container">
			<img
				bind:this={image}
				src="https://i.pinimg.com/originals/f5/41/d8/f541d81975222f42460e4a76f4da6de4.jpg"
				draggable="false"
			/>
			{#if left && top}
				<div class="cursor" style="left: {left}%; top: {top}%" />
			{/if}
		</div>
	</div>
	<div class="controls">
		<label>
			Image:
			<input type="file" accept="image/*" bind:this={imageInput} on:input={handleFileInput} />
		</label>
		<label>
			Left:
			<input type="number" bind:value={left} min="0" max="100" />
		</label>
		<label>
			Top:
			<input type="number" bind:value={top} min="0" max="100" />
		</label>
		{#if left && top}

		<label>
			<pre>
.foobar &lbrace;
  left: {left}%;
  top: {top}%;
&rbrace;
			</pre>
		</label>
		{/if}
	</div>
</main>

<style>
main {
	display: flex;
	width: 100%;
	height: 100%;
}

.canvas {
	flex-grow: 1;
	padding-right: 2rem;
	height: 100%;
	/* background: rgba(255, 0, 0, 0.2); */
}

::selection {
	background: transparent;
}

img {
	max-width: 100%;
	max-height: 100vh;
	border: 1px solid black;
}

.container {
	display: inline-block;
	position: relative;
}

.cursor {
	position: absolute;
	width: 32px;
	height: 32px;
	background: rgba(255, 0, 0, 0.5);
}

pre {
	color: white;
	background: black;
	padding: 1em;
}

pre::selection {
	background: blue;
}
</style>
